

.App {
  
  background-color: rgba($color: #fff, $alpha:0.5);
  width: 1328px;
  height: 805px;
  border-radius: 20px;
  padding: 55px;
  
}
.container{
  height: 100%;
}
.container-child{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
