@import "./base.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#root {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            65.73deg,
            rgba(128, 0, 255, 0.2) 5.71%,
            rgba(255, 0, 128, 0.2) 30.76%,
            rgba(5, 0, 255, 0.2) 57.28%,
            rgba(0, 194, 255, 0.2) 76.84%,
            rgba(255, 0, 211, 0.2) 99.99%,
            rgba(255, 0, 150, 0.2) 100%
        ),
        #ffffff;
    padding: 40px;
    @include fexCenter();
}
